<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" >

<th:block th:fragment="blog(blogid,theUserid,publishtime,content,theUsername,thePortrait,userid)">
<div th:id="'blog-'+${blogid}" class="panel panel-default">
    <div class="panel-body">
        <div class="media">
            <div class="media-left">
                <a>
                    <img th:src="@{'/pics/'+${thePortrait}+'.jpg'}"
                         style="width:100px;height:100px" alt="">
                </a>
            </div>
            <div class="media-body">
                <div>
                    <a th:href="@{/userPage(userid=${theUserid})}" style="font-size: 25px">
                        <span th:text="${theUsername}">username</span>
                    </a>
                </div>
                <div class="grey-font">
                    <span th:text="${publishtime}">publish time</span>
                    <a id="delete-blog" class="cursor-pointer grey-font" th:if="${theUserid} eq ${userid}" th:blogid="${blogid}" style="color: #2e6da4;padding-left: 10px;text-decoration: underline">删除</a>
                </div>
                <div>
                    <span th:text="${content}">content</span>
                </div>
            </div>
        </div>
    </div>
</div>
</th:block>

