<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Home</title>
    <div th:replace="common/head :: head"></div>
</head>
<body>
<div th:replace="common/navbar :: navbar(userid=${user.uid})"></div>

<link th:href="@{/css/home.css}" rel="stylesheet">
<div class="container ">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-xs-0"></div>
        <div class="col-lg-8 col-md-8 col-xs-12">

            <!-- 发布微博 -->
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-inline" th:action="@{/publishBlog}" method="post">
                        <textarea name="blogContent" class="form-control rounded-0" rows="5" style="width: 100%"
                                  placeholder="写点什么吧..."></textarea>
                        <br><br>
                        <button type="submit" class="btn btn-default btn-sm" style="float: right;">发布</button>
                    </form>
                </div>
            </div>

            <!--微博列表-->
            <div th:each="blog:${blogs}">
                <div th:replace="common/blog :: blog(blogid=${blog.blogid},userid=${blog.userid},publishtime=${blog.publishtime},
                content=${blog.content},username=${user.username},portrait=${user.portrait}, uid=${user.uid})"></div>
            </div>

        </div>
        <div class="col-lg-2 col-md-2 col-xs-0"></div>
    </div>
</div>
<div th:replace="common/foot :: foot"></div>
</body>
</html>

